{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% block title %}Add category {% endblock %}

{% block body_block %}

	<h1 class="form-sigin-heading">Add a new Category</h1>
	<form class="form-signin" id='category_form' method="post" action='/add-category'>
		<h3 class="form-sigin-heading">Add a new category.</h3>
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		{% for field in form.visible_fields %}
		<div class='form-group'>
			{{ field.errors }}
			{{ field.help_text }}
			{{ field |addcls:'form-control'}}
		</div>
		{% endfor %}
		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Add Category</button>
	</form>
{% endblock %}
