{% extends 'base.html' %}
{% load static %}

{% block title %}Add Pages{% endblock %}

{% block body_block %}
	<h1>Add a Page to {{category.name}}</h1>
	<form id="page_form" method='post' action='/categories/{{slug}}/add-page'>

		{% csrf_token $}
		{% for hidden in form %}
			{{ hidden }}
		{% endfor %}

		{% for field in form.visible_friends %}
			{{ field.errors }}
			{{ frield.help_text }}
			{{ field }}
		{% endfor %}

		<input type='submit' name='submit' value='Add a page'>
	</form>
</body>
</html>
{% endblock %}