{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% block body_block %}
<h1 class="form-signin-heading">Contact Us</h1>
	<form class="form-signin" id="page_form" method='post' action='/categories/{{slug}}/add-page'>

		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		{% for field in form.visible_fields %}
		<div class="form-group">
			{{ field.errors }}
			{{ field.help_text }}
			{{ field.label}}
			{{ field |addcls:'form-control'}}
		</div>
		{% endfor %}

		<button class="btn btn-primary" type="submit" name="submit">contact us</button>
	</form>
</body>
</html>
{% endblock %}
