{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% block title %}Register{% endblock %}

{% block body_block %}
	<h1>Register with the Tutorial App</h1>
	{% if registered %}
	<strong>Thanks for registering!</strong>
	<a href="/">Return Home</a>
	{% else %}
	<strong>Register Here!</strong>

	<form id='user_form' method='post' action='/register/' enctype='multipart/form-data'>
		
		{% csrf_token %}
		{% for field in user_form.visible_fields %}
		<div class='form-group'>
			{{field.errors}}<br>
			{{field.help_text}}<br>
			{{field |addcls:'form-control'}}
		</div>
		{% endfor %}
		{% for field in profile_form.visible_fields %}
		<div class='form-group'>
			{{field.errors}}<br> 
			{{field.help_text}}<br>
			{{field |addcls:'form-control'}}
		</div>
		{% endfor %}
		<input type='submit' name='submit' value='Register'>
	</form>
	{% endif %}
{% endblock %}